$header-h: 45px;
$header-element-h: $header-h * 0.7;
$aside-w: 205px;

@mixin min-max-h($value) {
    min-height: $value;
    max-height: $value;
}
@mixin min-max-w($value) {
    min-width: $value;
    max-width: $value;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

header{
    position: fixed;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    background: white;
    z-index: 99;
    #menu,#logo,.login{
        cursor: pointer;
    }
    #menu,#logo{
        width: $header-element-h;
        height: $header-element-h;
        border: 1px solid gray;
        margin-right: 5px;
    }
    .searchbar{
        flex-grow: 3;
        margin: 0 5%;
        display: flex;
        align-items: center;
        input{
            width: 80%;
            height: $header-element-h;
            font-size: 120%;
            padding: 5px;
        }
        button{
            height: $header-element-h;
            line-height: $header-element-h;
            border: 1px solid gray;
            padding: 0 15px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
    }
    .login{
        height: $header-element-h;
        line-height: $header-element-h;
        border: 1px solid gray;
        padding: 0 15px;
    }
}
aside, #items{
    margin-top: $header-h;
}

aside{
    width: $aside-w;
    height: 100vh;
    background-color: rgb(213, 213, 213);
    border-right: 1px solid rgba(0,0,0,0.1);
    margin-left: -$aside-w;
    .category{
        span{
            padding: 2px 10px;
            color: rgb(146,146,146);
        }
        
        .item{
            padding: 2px 20px;
        }
        .item:hover{
            background-color: rgb(190, 190, 190);
        }
    }
    
}

/*GRID*/
$item-w : 18vw;

#items{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit,18vw);
    grid-template-rows: $item-w;
    grid-gap: 1.56%;
    padding: 10px;
    .item{
        border: 1px solid gray;
        @include min-max-h(17vw);
        .loader{
            background-color: rgb(0, 0, 0);
            opacity: 0.3;
            width: 0;
            height: 100%;
        }
    }
}

/* Media Queries*/

@media (max-width: 375px) { 

    #items{
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .item{
            flex-basis: 46vw;
            @include min-max-h(46vw);
        }
    }

}