* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap; }

header {
  position: fixed;
  width: 100%;
  height: 45px;
  border: 1px solid gray;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background: white;
  z-index: 99; }
  header #menu, header #logo, header .login {
    cursor: pointer; }
  header #menu, header #logo {
    width: 31.5px;
    height: 31.5px;
    border: 1px solid gray;
    margin-right: 5px; }
  header .searchbar {
    flex-grow: 3;
    margin: 0 5%;
    display: flex;
    align-items: center; }
    header .searchbar input {
      width: 80%;
      height: 31.5px;
      font-size: 120%;
      padding: 5px; }
    header .searchbar button {
      height: 31.5px;
      line-height: 31.5px;
      border: 1px solid gray;
      padding: 0 15px;
      border-radius: 0 5px 5px 0;
      cursor: pointer; }
  header .login {
    height: 31.5px;
    line-height: 31.5px;
    border: 1px solid gray;
    padding: 0 15px; }

aside, #items {
  margin-top: 45px; }

aside {
  width: 205px;
  height: 100vh;
  background-color: #d5d5d5;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -205px; }
  aside .category span {
    padding: 2px 10px;
    color: #929292; }
  aside .category .item {
    padding: 2px 20px; }
  aside .category .item:hover {
    background-color: #bebebe; }

/*GRID*/
#items {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18vw);
  grid-template-rows: 18vw;
  grid-gap: 1.56%;
  padding: 10px; }
  #items .item {
    border: 1px solid gray;
    min-height: 17vw;
    max-height: 17vw; }
    #items .item .loader {
      background-color: black;
      opacity: 0.3;
      width: 0;
      height: 100%; }

.cochinada {
  width: 100%; }
  .cochinada .horiscroll {
    overflow: hidden; }
    .cochinada .horiscroll .item {
      border: 1px solid gray;
      display: inline-block;
      width: 25%;
      height: 45px; }

/* Media Queries*/
@media (max-width: 375px) {
  #items {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    #items .item {
      flex-basis: 46vw;
      min-height: 46vw;
      max-height: 46vw; } }

/*# sourceMappingURL=styles.css.map */
